
*.stat
__history
*.local
*.identcache
*.dcu
*.hpp
*.o
*.a
*.dsk
*.~dsk
*.tvsconfig
*.bpi
*.xml
*.exe
Release
*.prjmgc
packages/11AndAbove/Delphi/AbbreviaD.res
packages/11AndAbove/Delphi/AbbreviaVCLD.res
